<app-layout-default>
  <app-comp-text title class="content-header">Un bien joli titre</app-comp-text>

  <app-comp-text text
    >Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore cupiditate
    asperiores autem ipsam modi, magni beatae id est, in consectetur quo
    quisquam minima culpa illo animi, libero eos numquam ipsum.</app-comp-text
  >

  <hr />
  <app-comp-button type="validation">Valider</app-comp-button>
  <app-comp-button type="configuration">Configurer</app-comp-button>
  <app-comp-button type="cancelation">Annuler</app-comp-button>

  <app-comp-text important class="content-footer"
    >Un bien joli footer</app-comp-text
  >
</app-layout-default>
